
<html>
<head>
    <title>Postagem Nova</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


</head>
<body>
    <section class="content-header">
        <h1>Postagem</h1>
    </section>

    <div class="content">

          <div class="container-fluid">

                <form action="/adm/save" method="post">
              
                    <div class="col-sm-12">
                        <div class="col-sm-3">

                            <input type="text" name="title"  placeholder ="enter title" class="form-control " value="">
                        </div>
                        <div class="col-sm-9"> </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-3">
                            <input type="text" name="autor" placeholder ="enter autor"class="form-control col-md-3" value="">
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-md-3">
                            <input type="text" name="texto" placeholder ="enter texto" class="form-control col-md-3" value="" >
                        </div>
                    </div>
                   
                <div class="col-sm-12">
                <div class="col-md-3">
                <input type="submit" class="form-control btn-success col-md-3" value="Save">
                </div>
                </div>
                </form>
                        

            </div>
        </div>
    </div>
</body>
</html>