
<html>
<head>
    <title>Postagem</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


</head>
<body>
    <section class="content-header">
        <h1>Postagem | Edit</h1>
    </section>

    <div class="content">

          <div class="container-fluid">

                <form action="/adm/updatesave" method="post">
                <% if(req) { %>
                 <% print.forEach(function(result){ %>
                    <div class="col-sm-12">
                        <div class="col-sm-3">
                            <input type="hidden" name="id" value=<%= result.id %>>

                            <input type="text" name="title"  placeholder ="enter title" class="form-control " value=<%= result.title %>>
                        </div>
                        <div class="col-sm-9"> </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-3">
                            <input type="text" name="autor" placeholder ="enter autor"class="form-control col-md-3" value=<%= result.autor %>>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-md-3">
                            <input type="text" name="texto" placeholder ="enter texto" class="form-control col-md-3" value=<%= result.texto %>>
                        </div>
                    </div>
                   
                <div class="col-sm-12">
                <div class="col-md-3">
                <input type="submit" class="form-control btn-success col-md-3" value="Save">
                </div>
                </div>
                </form>
                                <% }) %>
                <% } %>

            </div>
        </div>
    </div>
</body>
</html>